# Part of: E-commerce ETL Pipeline & RAG Support Assistant
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=ecom-raw

DB_URL=postgresql://ecom_user:ecom_pass@localhost:5435/ecom_db

OPENAI_API_KEY=sk-your-key-here

AIRFLOW_HOME=~/airflow

GEMINI_API_KEY=your-gemini-key-here
